@import '../functions.scss';
header.navbar{
  display: flex; 
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  margin-top: 80px;
  z-index: 100;
    .lateral-margin{
      margin: 0 20px
    }    
    select.language{
      font-size: 1.1em;
      font-weight: 100;
      font-family: Neucha;
      padding: 2px 40px;
      background-color: var(--language);
      color: var(--language-text);
      border: 1px solid #88ADB5;
      box-shadow: 0px 0px 21px rgba(0, 209, 255, 0.31);
    }
    .search{
      width: 100%;
      height: 100%;
      background-color: var(--search);
      display: flex;
      align-items: center;
      @include leftIcon(10px);
      svg{
        color: var(--search-text);
      }
      input[type="search"]{
        font-family: Neucha;
        font-size: 1.1em;
        padding: 4px 10px;
        padding-left: 30px;
        color: var(--search-text);
        background-color: transparent;
        &::placeholder{
          color: #ADADAD;
        }
      }
    }
    .content{
      display: flex;
      justify-content: space-between;
    }
    .right, .left{
      display: flex;
      align-items: center;
    }
    .left{
      width: 50%;
    }
    
    .title{
      color: var(--title);
      font-size: 30px;
      font-weight: 200;
      max-width: 227px;
      width: 50%;
      white-space: nowrap;
    }
    .links{
      min-width: 70%;
      justify-content: space-evenly;
    }
    .links a{
      font-weight: 600;
      font-size: .8em;
      margin: 0 0%;
      padding: 5%;
      color: var(--a)
    }
    .menu-btn{
      display: none;
      width: 45px;
      height: 45px;
      background-size: cover;
      cursor: pointer;
      opacity: 0.5;
    }
    .icons-header{
      color: #fff;
      float: right;
    }
}