.option-container{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.01s ease;
    cursor: pointer;
    &:active{
      transform: scale(0.92) !important;
    }
}