/* Imports */
@import "./Variables.scss";

/* Global */
:root{
  --bg: rgb(22, 43, 49);
  --fill-btn-text: #fff;
  --navbar: rgba(33, 45, 48, 1);
  --main: #2cfdfd;
  --second: rgba(171, 217, 220, 1);
  --h1: #000;
  --p: #939393;
  --a: #fff;
  --a-select: #2cfdfd;
  --title: #fff;
  --footer: rgb(219, 219, 219);
}
img,a{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
body {
  margin: 0;
  font-family: 'Neucha', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(41.52% 62.31% at 71.9% 50%, rgba(61, 100, 108, 1) 0%, rgb(22, 43, 49) 100%);

  height: 100%;
}
#root,
.App{
  height: 100%;
}
button{
  border: none;
}
html, 
body {
    height: 100%;
}
h1,h2,h3,h4{
  margin: 0;
}
.flex{
  display: flex;
}
.align{
  align-items: center;
}
.justify{
  justify-content: center;
}
a{
  text-decoration: none;
  color: inherit
}
.hard_shadow{
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.123);
}
.content{
  width: $widthPage;
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}
.img_container_full{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
img.contain{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
button{
  cursor: pointer;
}

/* Buttons */
.button{
  height: 55px;
  min-width: 165px;
  border-radius: 7px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 5%;
  &.fill{
    background-color: var(--main);
    color: white;
    border-color: var(--main);
  }
  &.empty{
    border-color: var(--main);
    color: var(--main);
  }
  &:active{
    transform: scale(0.99);
  }
  span.hide{
    width: 50%;
    transition: 0.2s width;
    white-space: nowrap;
    overflow: hidden;
  }
  $animationTime: 0.2s;
  svg{
    margin-left: 10px;
    font-size: 1.2em;
    transition: $animationTime;
  }
  &:active svg{
    transition: transform $animationTime;
    transform: scale(0.96);
  }
  &:hover {
    padding: 0;
    span.hide{
      width: 0;
    }
    svg{
      margin-left: 10px;
      font-size: 1.5em;
      font-weight: 800;
    }
  }
}
.btns{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.svg-hover{
  svg{
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.2) rotate(45deg)!important;
    }
  }
}
.ignore-container{
  height: 75vh;
  position: fixed;
  bottom: 0;
  left: 0;   
}
/* Image-Layout */
.image-layout{
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* Minimal Screen */
.fullscreen{
  display: none!important;
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(30, 30, 30);
  border: 2px solid rgb(76, 76, 76);
  box-sizing: border-box;
  border-radius: 20px;
}
@media only screen and (max-width: 800px) {
  .resize{
    width: 100%!important;
  }
}